/papers
/data
/squeezenet/squeezenet_new_c2.h5
/squeezenet/squeezenet_new_c3.h5
/densenet201/densenet201_c2.h5
/densenet201/densenet201_c3.h5
/vgg19/vgg19_c2.h5
/vgg19/vgg19_c3.h5
/mobilenetv2/mobilenetv2_c2.h5
/mobilenetv2/mobilenetv2_c3.h5